<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="java" class="com.singtel.digital.ioc.spring.Javaer">
		<property name="name" value="Rio" />
	</bean>
	
	<bean id="php" class="com.singtel.digital.ioc.spring.Phper">
        <constructor-arg value = "Jill"/>
    </bean>
</beans>